*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/java/cn/lzumi/mfanime/tools/Constant.java
/gradle.properties
app/libs/
app/release/
app/build/generated/renderscript_source_output_dir/
app/build/generated/res/
app/build/generated/source/apt/
app/build/intermediates/check_manifest_result/
app/build/intermediates/dex/debug/mergeLibDexDebug/
app/build/intermediates/incremental/mergeDebugResources/stripped.dir/
app/build/intermediates/incremental/mergeReleaseResources/stripped.dir/
app/build/intermediates/incremental/processDebugResources/
app/build/intermediates/incremental/processReleaseResources/
app/build/intermediates/jniLibs/
app/build/intermediates/merged_assets/
app/build/intermediates/prebuild/
app/build/intermediates/rs/
app/build/intermediates/shader_assets/
app/build/intermediates/shaders/
app/build/intermediates/validate_signing_config/
app/build/tmp/
